<!DOCTYPE html>
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <script>
      document.documentElement.classList.add("js");
    </script>
    <link rel="stylesheet" href="/stylesheets/visitIITJ.css" />
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>


    <style>
        @keyframes circle {
        0% { clip-path: circle(10%); }
        50% { clip-path: circle(25%); }
        100% { clip-path: circle(75%); }
        }
    </style>
  </head>

  <body class="font-[Poppins] bg-white">
    <%- include('./common/imageLoaderScript') %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
    <%- include('./common/nav')%>

    <!-- VisitIITJ -->
        <section class="text-black body-font dark:bg-red-100">
            <div class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6">
                <div class="mt-4 md:mt-0">
                    <h2 class="mb-4 text-5xl tracking-tight font-semibold text-gray-900 dark:text-black">Visit IIT Jodhpur</h2>
                    <p class="mb-6 font-light text-gray-500 md:text-xl dark:text-gray-950">We invite you to tour IIT Jodhpur’s impressive and picturesque campus, where you can see the foundation of our impactful endeavors.</p>
                </div>
                <div class="box" style="animation: circle 1.5s; clip-path: circle(75%);">
                    <img class="w-full" src="media/gallery/g2.jpg" alt="dashboard image" style="border: transparent; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;">
                </div>
            </div>
        </section>
            
        <section class="bg-white dark:bg-white mt-0 body-font">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-8 lg:px-6">
                <div class="mx-auto mb-16 max-w-screen-sm lg:mb-8">
                    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-black mt-16">Dashak Visit</h2>
                    <p class="font-light text-gray-500 sm:text-xl dark:text-gray-900">To visit IIT Jodhpur during Alumni Day or DASHAK 3.0, visit the Dashak section of events page</p>
                    <a href="#" class="inline-flex justify-between items-center py-1 px-1 pr-4 mt-4 mb-4 text-sm text-black bg-[#f1eedc] rounded-full dark:bg-red-400 dark:text-white hover:bg-red-500 dark:hover:bg-red-500" role="alert">
                        <span class="text-xs bg-primary-600 rounded-full text-white px-4 py-1.5 mr-3"></span> <span class="text-sm font-medium">Get Started</span> 
                        <svg class="ml-2 w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                    </a>
                </div> 
                <div class="delay-[100ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="300">
                    <div class="duration-[500ms] [animation-iteration-count:infinite] taos:opacity-0">
                        <div class="mx-auto mt-24 mb-8 max-w-screen-sm lg:mb-16">
                            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-black">Normal Visit</h2>
                            <p class="font-light text-gray-500 sm:text-xl dark:text-gray-900">Contact Us</p>
                        </div> 
                        <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
                            <div class="text-center text-gray-500 dark:text-black">
                                <%- include('./common/imageSkeletonLoader.ejs', {classes:"mx-auto mb-4 w-36 h-36 rounded-full object-cover object-top" , srcPath:"./media/profileImages/sahil_team.jpg", altPath:""}) %>
                                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">
                                    <a href="#">SahilPreet Singh</a>
                                </h3>
                                <p>Events Coordinator</p>
                                <p>Contact: +91 6284 613 689</p>
                                <ul class="flex justify-center mt-4 mb-16 space-x-4">
                                    <li>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M17 6h-2V5h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2h-.541A5.965 5.965 0 0 1 14 10v4a1 1 0 1 1-2 0v-4c0-2.206-1.794-4-4-4-.075 0-.148.012-.22.028C7.686 6.022 7.596 6 7.5 6A4.505 4.505 0 0 0 3 10.5V16a1 1 0 0 0 1 1h7v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3h5a1 1 0 0 0 1-1v-6c0-2.206-1.794-4-4-4Zm-9 8.5H7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2Z"/>
                                            </svg>                                      
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
                                                <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
                                            </svg>                                      
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                                            </svg>                                                                      
                                        </a> 
                                    </li>
                                    <li>
                                    </li> 
                                </ul>
                            </div>
                            <div class="text-center text-black dark:text-black">
                                <%- include('./common/imageSkeletonLoader.ejs', {classes:"mx-auto mb-4 w-36 h-36 rounded-full object-cover" , srcPath:"./media/profileImages/nitish_team.jpg", altPath:""}) %>
                                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">
                                    <a href="#">Nitish Gupta</a>
                                </h3>
                                <p>Events Coordinator</p>
                                <p>Contact: +91 94631 04491</p>
                                <ul class="flex justify-center mt-4 mb-16 space-x-4">
                                    <li>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M17 6h-2V5h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2h-.541A5.965 5.965 0 0 1 14 10v4a1 1 0 1 1-2 0v-4c0-2.206-1.794-4-4-4-.075 0-.148.012-.22.028C7.686 6.022 7.596 6 7.5 6A4.505 4.505 0 0 0 3 10.5V16a1 1 0 0 0 1 1h7v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3h5a1 1 0 0 0 1-1v-6c0-2.206-1.794-4-4-4Zm-9 8.5H7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2Z"/>
                                            </svg>                                      
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
                                                <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
                                            </svg>                                      
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                                            </svg>                                                                      
                                        </a> 
                                    </li>
                                    <li>
                                    </li> 
                                </ul>
                            </div>
                            <div class="text-center text-black dark:text-black">
                                <%- include('./common/imageSkeletonLoader.ejs', {classes:"mx-auto mb-4 w-36 h-36 rounded-full object-cover" , srcPath:"./media/profileImages/raghuveer_team.jpg", altPath:""}) %>
                                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">
                                    <a href="#">Raghuveer Kulkarni</a>
                                </h3>
                                <p>Events Coordinator</p>
                                <p>Contact: +91 74990 27852</p>
                                <ul class="flex justify-center mt-4 mb-16 space-x-4">
                                    <li>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M17 6h-2V5h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2h-.541A5.965 5.965 0 0 1 14 10v4a1 1 0 1 1-2 0v-4c0-2.206-1.794-4-4-4-.075 0-.148.012-.22.028C7.686 6.022 7.596 6 7.5 6A4.505 4.505 0 0 0 3 10.5V16a1 1 0 0 0 1 1h7v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3h5a1 1 0 0 0 1-1v-6c0-2.206-1.794-4-4-4Zm-9 8.5H7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2Z"/>
                                            </svg>                                      
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
                                                <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
                                            </svg>                                      
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                                            </svg>                                                                      
                                        </a> 
                                    </li>
                                    <li>
                                    </li> 
                                </ul>
                            </div>
                            <div class="text-center text-black dark:text-black">
                                <%- include('./common/imageSkeletonLoader.ejs', {classes:"mx-auto mb-4 w-36 h-36 rounded-full object-cover" , srcPath:"./media/profileImages/tarak_team.jpg", altPath:""}) %>
                                <h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-black">
                                    <a href="#">Tharakadatta Hegde</a>
                                </h3>
                                <p>Vice President</p>
                                <p>Contact: +91 87927 60150</p>
                                <ul class="flex justify-center mt-4 mb-16 space-x-4">
                                    <li>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path d="M17 6h-2V5h1a1 1 0 1 0 0-2h-2a1 1 0 0 0-1 1v2h-.541A5.965 5.965 0 0 1 14 10v4a1 1 0 1 1-2 0v-4c0-2.206-1.794-4-4-4-.075 0-.148.012-.22.028C7.686 6.022 7.596 6 7.5 6A4.505 4.505 0 0 0 3 10.5V16a1 1 0 0 0 1 1h7v3a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-3h5a1 1 0 0 0 1-1v-6c0-2.206-1.794-4-4-4Zm-9 8.5H7a1 1 0 1 1 0-2h1a1 1 0 1 1 0 2Z"/>
                                            </svg>                                      
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                <path fill-rule="evenodd" d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z" clip-rule="evenodd"/>
                                                <path d="M7.2 8.809H4V19.5h3.2V8.809Z"/>
                                            </svg>                                      
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="text-[#ea4c89] hover:text-gray-900 dark:hover:text-white">
                                            <svg class="w-6 h-6 text-gray-800 dark:text-black dark:hover:text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
                                            </svg>                                                                      
                                        </a> 
                                    </li>
                                    <li>
                                    </li> 
                                </ul>
                            </div>
                        </div>  
                    </div>
                </div>  
            </div>
          </section>



    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
    <%- include('./common/footer')%>
  </body>
</html>
