<!-- Gallery-->
<div class="delay-[50ms] duration-[500ms] taos:translate-y-[-20px] taos:opacity-0" data-taos-offset="100">
    <div class="duration-[1000ms] [animation-iteration-count:infinite] taos:opacity-0">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-4 px-4 md:px-8 lg:px-16">
            <div class="grid gap-4">
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g1.jpg", altPath:""}) %>
                </div>
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g2.jpg", altPath:""}) %>
                </div>
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g3.jpg", altPath:""}) %>
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g14.jpg", altPath:""}) %>
                </div>
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g5.jpg", altPath:""}) %>
                </div>
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g6.jpg", altPath:""}) %>
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g4.jpg", altPath:""}) %>
                </div>
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g11.jpg", altPath:""}) %>
                </div>
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g12.jpg", altPath:""}) %>
                </div>
            </div>
            <div class="grid gap-4">
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g16.png", altPath:""}) %>
                </div>
                <div>
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g13.jpg", altPath:""}) %>
                </div>
                <div>
                   
                    <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-auto max-w-full rounded-lg" , srcPath:"./media/gallery/g8.jpg", altPath:""}) %>
                </div>
            </div>
        </div>
    </div>
</div>